@import '../../assets/scss/_vars.scss';

.formats {
  // bem
  padding-top: 100px;
  padding-bottom: 100px;

  &__top {
    display: flex;
    margin-bottom: 24px;
    align-items: flex-end;
  }

  &__title {
    flex: 1 1 auto;
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;

    @media (max-width: 1024px) {
      font-size: 48px;
      line-height: 58px;
    }
  }

  &__button {
    font-size: 24px;
    line-height: 24px;
    color: $white;
    border-radius: 16px;
    background-color: $main;
    padding: 16px 32px;

    span {
      font-size: inherit;
      line-height: inherit;
    }

    @media (max-width: 1024px) {
      padding: 16px 26px;
    }
  }

  &__subtitle {
    font-size: 24px;
    line-height: 24px;
    color: $grayText;
    margin-bottom: 36px;
    letter-spacing: 0;

    @media (max-width: 1024px) {
      margin-bottom: 32px;
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 40px;

    @media (max-width: 1024px) {
      column-gap: 16px;
    }
  }

  &__item {
  }

  &__image-wrapper {
    position: relative;
    height: 580px;
    width: 100%;
    margin-bottom: 36px;

    @media (max-width: 1024px) {
      margin-bottom: 24px;
      height: 420px;
    }
  }

  &__image {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  &__icon {
    position: absolute;
    bottom: 32px;
    left: 32px;
    width: 88px;
    height: 88px;

    @media (max-width: 1024px) {
      width: 60px;
      height: 60px;
      bottom: 24px;
      left: 24px;
    }
  }

  &__item-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    letter-spacing: 0;

    @media (max-width: 1024px) {
      font-size: 24px;
      line-height: 24px;
    }
  }
}
