@import '../assets/scss/_vars.scss';

.header {
  padding: 14px 0px;
  background-color: $graybgc;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  @media (max-width: 1024px) {
    padding: 24px 0px;
  }

  &__inner {
    display: flex;
  }

  &__logo-wrapper {
    padding: 12px 23px;
    flex: 1 1 auto;
  }

  &__logo {
    width: 125px;
    height: 28px;

    @media (max-width: 1024px) {
      width: 104px;
      height: 24px;
    }
  }

  &__menu {
    @media (max-width: 1024px) {
      display: none;
    }
  }

  &__menu-elems {
    display: flex;
    margin-right: 69px;
  }

  &__menu-elem {
    &:not(:last-child) {
      margin-right: 17px;
    }
  }

  &__menu-link,
  &__button {
    color: $main;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
  }

  &__menu-link {
    display: block;
    padding: 16px 32px;

    span {
      position: relative;
    }

    &.active span {
      &::before {
        content: '';
        width: 100%;
        height: 2px;
        background-color: $main;
        position: absolute;
        bottom: -3px;
      }
    }
  }

  &__button {
    display: flex;
    align-items: center;
    padding: 14px 32px;
    position: relative;
    background-color: $white;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.14), 0px 1px 5px rgba(0, 0, 0, 0.2);
    border-radius: 16px;

    span {
      position: relative;
      top: -3px;
    }

    @media (max-width: 1024px) {
      display: none;
    }
  }

  &__button-tablet {
    display: none;
    align-items: center;
    position: relative;
    background-color: $white;
    padding: 14px 18px;
    border-radius: 16px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.14), 0px 1px 5px rgba(0, 0, 0, 0.2);

    span {
      position: relative;
      top: -3px;
      color: $main;
      margin-right: 11px;
    }

    @media (max-width: 1024px) {
      display: flex;
    }
  }

  &__button-icon {
    display: inline;
    margin-left: 10px;
  }
}

.footer {
  background-color: $main;
  border-radius: 40px 40px 0px 0px;

  &__inner {
    padding: 24px 0px;
  }

  &__top {
    display: flex;
    padding-top: 24px;
    align-items: center;

    @media (max-width: 1024px) {
      padding-top: 0px;
    }
  }

  &__logo {
    width: 197px;
    height: 44px;
    flex: 1 1 auto;
  }

  &__apps {
    display: flex;
    align-items: center;
  }

  &__apps-button {
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.14), 0px 1px 5px rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    background-color: $white;
    padding: 16px;
    color: $black;
    position: relative;
    margin-right: 32px;
    display: flex;
    align-items: center;
  }

  &__apps-button-icon {
    margin-left: 8px;
  }

  &__apps-icon {
    width: 48px;
    height: 48px;

    &:not(:last-child) {
      margin-right: 16px;

      @media (max-width: 1024px) {
        margin-right: 24px;
      }
    }
  }

  &__navigation {
    margin-top: 24px;

    @media (max-width: 1024px) {
      margin-top: 64px;
    }
  }

  &__navigation-elems {
    display: flex;
    justify-content: space-between;

    @media (max-width: 1024px) {
      justify-content: flex-start;
      flex-wrap: wrap;
      max-width: 85%;
    }
  }

  &__navigation-elem {
    min-width: 132px;
    text-align: center;
  }

  &__navigation-link {
    display: block;
    color: $white;
    padding: 16px;
    line-height: 19px;

    @media (max-width: 1024px) {
      text-align: left;
      font-size: 24px;
      line-height: 24px;
      margin-bottom: 16px;
      margin-right: 32px;
    }
  }

  &__contacts {
    display: flex;
    padding: 32px 0px;
    margin: 24px 0px;
    border-top: 1px solid transparentize($white, 1 - 0.76);
    border-bottom: 1px solid transparentize($white, 1 - 0.76);

    @media (max-width: 1024px) {
      margin-top: 17px;
      margin-bottom: 22px;
    }
  }

  &__contacts-left {
    flex: 1 1 auto;

    @media (max-width: 1024px) {
      display: flex;
      flex-direction: column;
    }
  }

  &__phone-number {
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    color: $white;
    letter-spacing: 0.002em;

    @media (max-width: 1024px) {
      font-size: 48px;
      line-height: 48px;
    }
  }

  &__mails {
    margin-right: 40px;
    display: flex;

    @media (max-width: 1024px) {
      margin-top: 24px;
      flex-direction: column;
    }
  }

  &__mails-link {
    letter-spacing: 0.002em;
    display: flex;
    align-items: center;
    color: $white;
    font-size: 24px;
    line-height: 24px;

    &:not(:last-child) {
      margin-right: 16px;
    }

    @media (max-width: 1024px) {
      &:not(:first-child) {
        margin-top: 24px;
      }
    }

    span {
      letter-spacing: inherit;
      font-size: inherit;
      line-height: inherit;
      margin-left: 8px;
    }
  }

  &__buttons {
    display: flex;
  }

  &__button {
    width: 48px;
    height: 48px;
    border-radius: 16px;
    background-color: $white;

    &:not(:last-child) {
      margin-right: 24px;
    }

    @media (max-width: 1024px) {
      width: 56px;
      height: 56px;
    }
  }

  &__bottom {
    display: flex;
    padding-bottom: 24px;
  }

  &__copyright {
    color: $white;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.002em;

    @media (max-width: 1024px) {
      font-size: 22px;
    }
  }

  &__contract {
  }

  &__contract-link {
    color: $grayInput;
    font-size: 24px;
    line-height: 24px;
    position: relative;
    letter-spacing: 0.002em;
    margin-left: 55px;

    &::before {
      content: '';
      position: absolute;
      bottom: -3px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: $grayInput;
    }
  }
}
